body {
    margin: 0;
    padding: 0;
}
.reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    grid-template-columns: 105px 1fr;
    grid-template-areas: "caption caption caption" "list chat chat" "list info info";
    background-color: blueviolet;
    height: 100vh;
    margin: 0;
}
.caption {
    grid-area: caption;
    background: #232323;    
}
.caption h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin-top: .75em;
}
.caption h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}
.list {
    grid-area: list;
    background-color: #d2d2d2;
    overflow-y: auto;
    align-content: center;
}
.persons li {
    width: 60px;
    height: 40px;
    border-radius: 5%;
    padding: .5em;
    margin: .5em;
    background: #ffffff;
    text-align: center;
}
.persons a {
    text-decoration: none;
}
.chat {
    grid-area: chat;
    background-color: #fff;
}
.info {
    grid-area: info;
    background-color: #afafaf;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info figure img {
    margin-top: 10px;
}
.info .tagline {
    position: relative;
}
.info h3 {
    color: #094d6d;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 10px;
}
.info p {
    color: #ffffff;
    font-size: .9em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
}
